@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Solid&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

body{
    background-color: rgb(78, 172, 235);
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 45px;
    margin: 15px;
    color: #444444;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px     #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
header p{
    font-size: 25px;
    color: #333;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE;
}
h2{
    font-size: 30px;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE;
    color: #333;
}

.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    background-color: rgb(188, 87, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px black solid;
    width: 370px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}
form:hover{
    box-shadow: 5px 5px 15px 5px #000000;
}
input{
    width: 300px;
    padding: 6px;
    border-radius: 10px;
    border: 1px rgba(77, 133, 253, 0.829) solid;
}
label{
    font-size: 20px;
    margin: 10px;
}
button{
    width: 250px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
}

#ResultP{
    background-color: beige;
    width: 280px;
    padding: 10px;
}